 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  header {
    background-color: #24292e;
    color: #fff;
    padding: 10px;
  }
  
  header h1 {
    margin: 0;
  }
  .searchbox {
    border: 1px solid #7a7a7a ;
    padding: 1px;
    display: inline-block;
    background-color: #151617;
    box-sizing: border-box;
    height: 27px;
    width: 275px;
    margin-top: 10px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 10px;

  }
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-top: 12px;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  nav input {
  background-color: transparent;
  color: #ffffff !important;
  outline: none;
  position: absolute;
  margin-top: 3px;
  width: 240px;
  border: none;
  margin-left: 5px;

  }
  nav input::-webkit-input-placeholder {
    color: #989393;
  }
  .btn1 {
    position: absolute;
    margin-top: 1px;
    margin-left:  249px;
    box-shadow: none;
    background-color: transparent;
    border: 1px solid #7a7a7a;
    border-radius: 6px;
    box-sizing: border-box;
    height: 21px;
    width: 20px;
    color: #7a7a7a;
  }

  main {
    padding: 20px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .profile {
    text-align: center;
  }
  
  .pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .folcon {
    height: 10%;
    width: 20px;
  }
  
  .profile h2 {
    margin-top: 20px;
  }
.follw:hover {
  text-decoration: underline !important;
  color: #6f7476 !important;
}

.follw:link, .follw:visited {
  text-decoration: none;
  color: #3f4143;
}

  .repos {
    margin-top: 40px;
  }
  
  .repos h2 {
    margin-bottom: 20px;
  }
  
  /* .repos ul {

  } */
  .repos a:hover {
    text-decoration: underline !important ;
    color: #0366d6 !important;
  }

  .repos a:link, .repos a:visited {
    text-decoration: #d5dbe1 ;
    color: #0366d6;  
}

  .repos li {
    color: #0366d6;
    text-decoration: none;
    padding: 10px;
      
      
    border: solid #dde1e4d1 2px;
    border-radius: 15px;
    display: inline-block;
    box-sizing: border-box;
    height: 150px;
    width: 500px;
  }

  .repos p {
    color: #aaafb1;
    font-size: 13px;
  }

  .icn {
    height: 10%;
    width: 15px;
  }
  .code {
    font-size: 15px !important;
    color: #aaafb1;
  }


  footer {
    background-color: #f6f8fa;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
    text-align: left;
}
  
  @media (max-width: 600px) {
    nav {
      flex-direction: column;
      align-items: center;
    }
  
    nav li {
      margin: 10px 0;
    }
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .btn {
    display: inline-block;
    background-color: #e7e7e7;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    text-decoration: none;
    }
